@tailwind base;
@tailwind components;
@tailwind utilities;

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.scrollbar-hide {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* For Webkit browsers (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: transparent;
}

  